<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Day10Assignment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Calculate</display-name>
    <servlet-name>Calculate</servlet-name>
    <servlet-class>com.hsbc.tr.web.Calculate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculate</servlet-name>
    <url-pattern>/Calculate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.hsbc.tr.web.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormProcess</display-name>
    <servlet-name>ServletFormProcess</servlet-name>
    <servlet-class>com.hsbc.tr.web.ServletFormProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormProcess</servlet-name>
    <url-pattern>/ServletFormProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo</display-name>
    <servlet-name>ServletDemo</servlet-name>
    <servlet-class>com.hsbc.tr.web.ServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo</servlet-name>
    <url-pattern>/ServletDemo</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Greeting</display-name>
    <filter-name>Greeting</filter-name>
    <filter-class>com.hsbc.tr.web.Greeting</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Greeting</filter-name>
    <url-pattern>/Greeting</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>FormProcess</display-name>
    <servlet-name>FormProcess</servlet-name>
    <servlet-class>com.hsbc.tr.web.FormProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormProcess</servlet-name>
    <url-pattern>/FormProcess</url-pattern>
  </servlet-mapping>
</web-app>