<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>TechSupportApp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>CustomerDaoImpl</display-name>
		<servlet-name>CustomerDaoImpl</servlet-name>
		<servlet-class>com.hsbc.tr.web.dao.CustomerDaoImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerDaoImpl</servlet-name>
		<url-pattern>/CustomerDaoImpl</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServiceRequestDaoImpl</display-name>
		<servlet-name>ServiceRequestDaoImpl</servlet-name>
		<servlet-class>com.hsbc.tr.web.dao.ServiceRequestDaoImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServiceRequestDaoImpl</servlet-name>
		<url-pattern>/ServiceRequestDaoImpl</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CustomerAppController</display-name>
		<servlet-name>CustomerAppController</servlet-name>
		<servlet-class>com.hsbc.tr.web.service.CustomerAppController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerAppController</servlet-name>
		<url-pattern>/CustomerAppController</url-pattern>
	</servlet-mapping>
</web-app>